<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CONSOLIDADOS</ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-item lines="none">
          <ion-label color="primary"></ion-label>
        </ion-item>
        
      </ion-col>
      <ion-col size="7">
        <ion-item lines="none"> 
          <ion-label color="primary">ETAPA 3</ion-label>
          <ion-toggle slot="end" name="tercera" [(ngModel)]="toggle" color="success" (ionChange)="onArea()"></ion-toggle>
        </ion-item>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header> 


<ion-content>
  <div style="padding-top: 30px;">
    <ion-item>
      <ion-select placeholder="SELECCIONE EL CONSOLIDADO" interface="action-sheet" [(ngModel)]="consolidadoSelect" (ionChange)="picking()">
        <ion-select-option *ngFor="let item of consolidados" value="{{item.Consolidado}}">{{item.Consolidado}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  

</ion-content>
