<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content"  menuId="first" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/sello.png">
          </ion-avatar>
          <ion-label>
            <h2>Importadora Alvarado</h2>
            <h3 id="nusuario"></h3>
          </ion-label>
        </ion-item>

        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" [id]="[p.id]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
           
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="salir()">
              <ion-icon slot="start" name="exit"></ion-icon>
              <ion-label>
                Salir
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
