<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Movimientos</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label color="primary" position="floating">Origen:</ion-label>
      <ion-input #origen id="origen" name="origen" type="number" [(ngModel)]="coordenada"    clearInput="true" inputmode="number" placeholder="Ingrese la ruta de origen" required="true" (keyup.enter)="onEnter()" (keydown.tab)="onEnter()" ></ion-input>
     <ion-icon name="pin" color="primary" slot="end" (click)="onEnter()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Producto:</ion-label>
      <ion-input  #producto  clearInput="true" [(ngModel)]="codigo"   inputmode="text" placeholder="Ingrese el codigo del producto" required="true"  (keyup.enter)="onEnterProducto()"></ion-input>
      <ion-icon name="eye" color="primary" slot="end" [routerLink]="['/busqueda-producto/'+ codigo]" ></ion-icon>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label color="primary"  position="floating">Cant. Coordenada:</ion-label>
            <ion-input  readonly  clearInput="true" [(ngModel)]="cantidad"  inputmode="text"  required="true"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
            <ion-item>
              <ion-label color="primary"  position="floating">Rotación:</ion-label>
              <ion-input color="success" *ngIf="color_rotacion=='ALTA'"  readonly  clearInput="true" [(ngModel)]="rotacion"   inputmode="text"  required="true"></ion-input>
              <ion-input color="warning" *ngIf="color_rotacion=='MEDIA'"  readonly  clearInput="true" [(ngModel)]="rotacion"   inputmode="text"  required="true"></ion-input>
              <ion-input color="danger" *ngIf="color_rotacion=='BAJA'"  readonly  clearInput="true" [(ngModel)]="rotacion"   inputmode="text"  required="true"></ion-input>
           </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label color="primary" position="floating">Cantidad:</ion-label>
      <ion-input  #input_cantidad_mover type="number" (keyup.enter)="val_cantidad()"  [readonly]="isReadOnlyCantidad"   clearInput="true"  [(ngModel)]="cantidad_mover"  inputmode="number" placeholder="Ingrese la cantidad a mover" required="true"></ion-input >
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Destino:</ion-label>
      <ion-input  #input_destino   [readonly]="isReadOnlyDestino" clearInput="true" [(ngModel)]="destino" type="number"   inputmode="number" placeholder="Ingrese la ruta de destino" required="true" (keyup.enter)="onEnterDestino()" (keydown.tab)="onEnterDestino()"></ion-input>
      <ion-icon name="map" color="primary" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Ubicación:</ion-label>
      <ion-textarea  clearInput="true" readonly  rows="10" cols="20" [(ngModel)]="ubicacion" placeholder="Coordenadas de productos" required="true"></ion-textarea>
      <ion-icon name="list" color="primary" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
